
.doctor-card{
    padding: 15px;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-left: 7px solid #1D2A4D;
    overflow: hidden;
    border-radius: 5px;
}

.doctor-card .header{
    display: flex;
    flex-direction: row;  
    
}
.doctor-img img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-right: 20px;

}
.doctor-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
    word-wrap: break-word;
}
.doctor-details h4{
   margin: 0px;
}

.doctor-details p{
   margin: 0px;
}
.doctor-details i{
   margin-right:12px;
   font-size: 17px;
   color: #1D2A4D;
   padding: 5px;
}
.doctor-details hr{
  margin: 3px 0;
  border-color: #1D2A4D;
}

.doctor-speciality{
    font-size: 18px;
    color: #1D2A4D;
    padding: 0px;

}

.container{
    padding-top: 20px;
}

.address-details p{
    margin: 0px;
    padding-bottom: 0px;
}

.doctor-address{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


#map { height: 80vh; }
