<div class="col-12 mb-3">
  <div class="bg-white rounded px-3 mb-0">
    <div class="alert alert-danger mb-1" role="alert" *ngFor="let error of errors">
      {{error}}
    </div>
    <div class="alert alert-success mb-1" role="alert" *ngIf="message">
      {{message}}
    </div>
    <h1 class="mb-4">Paramètre de mot de passe</h1>
    <form>
      <div class="row g-3">
        <div class="col-10">
          <label class="label" for="">Ancien mot de passe</label>
          <input type="text" class="form-control bg-light border-0"
            style="height: 55px;" [(ngModel)]="actualPassword" [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
        <div class="col-5">
          <label class="label" for="">nouveau mot de passe</label>
          <input type="password" class="form-control bg-light border-0"
            style="height: 55px;" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
        <div class="col-5">
          <label class="label" for="">Confirmer le nouveau mot de passe</label>

          <input type="password" class="form-control bg-light border-0"
            style="height: 55px;" [(ngModel)]="confirmNewPassword" [ngModelOptions]="{standalone: true}"
            autocomplete="off">
        </div>
        <div class="col-12">
          <button class="btn btn-outline-dark p-3 me-3" (click)="save()">Sauvegarder</button>
        </div>
      </div>
    </form>
  </div>
</div>