.param-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
}

.param-list li a{
    padding: 10px;
    display: block;
    height: 100%;
    text-decoration: none;
    color: #1D2A4D;
    border-radius: 5px;
    
}

.param-list li:not(:first-child) a:hover{
    background-color: #13C5DD;
    color: white;
}

.param-list li a.active-tab{
    background-color: #13C5DD;
    color: white;
}

.param-list i{
    margin-right: 8px;
}
