<app-header></app-header>

<div class="container-fluid bg-primary search-bg p-0" style="background-image:url('../../../assets/img/search-labs-1.jpg') ;">
    <div>
        <div class="container py-5">
            <div class="text-center mx-auto mb-5" style="max-width: 600px;">
                <h1 class="display-4 mb-4 text-white">Trouver des laboratoires d'analyses</h1>
                <h5 class="text-white fw-normal">Duo ipsum erat stet dolor sea ut nonumy tempor. Tempor duo lorem eos
                    sit sed ipsum takimata ipsum sit est. Ipsum ea voluptua ipsum sit justo</h5>
            </div>
            <div class="mx-auto" style="width: 100%; max-width: 800px;">
                <div class="input-group mb-4">
                    <input type="text" class="form-control border-primary w-25" placeholder="Nom du laboratoire"
                        [(ngModel)]="nomLaboratoire" [ngModelOptions]="{standalone: true}">
                    <select class="form-select border-primary w-25" style="height: 60px;" [(ngModel)]="gouvernaurat"
                        [ngModelOptions]="{standalone: true}">
                        <option value="">Gouvernaurat</option>
                        <option *ngFor="let g of gouvernaurats" [value]="g">{{g}}</option>
                    </select>
                    <button class="btn btn-dark border-0 w-20" (click)="search()"><i
                            class="fas fa-search me-2"></i>Search</button>
                </div>
            </div>
            <app-loading *ngIf="retrieved == false && clicked === true"></app-loading>
        </div>
       

    </div>

</div>
<app-search-laboratoire-result [laboratoires]="laboratoires" *ngIf="laboratoires?.length != 0">
</app-search-laboratoire-result>