<div class="row ">
    <div class="col-6 me-auto my-0">
        <h1>Gestion Pharmacies</h1>
    </div>
</div>
<div class="d-flex justify-content-center py-3" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div *ngIf="loading == false">

    <div class="row mb-4">
        <span>({{pharmacies.length}} pharmacies)</span>
    </div>
    <table class="table">
        <thead>
            <tr>
                <!-- <th scope="col">ID</th> -->
                <!-- <th scope="col">Prénom</th> -->
                <th scope="col">Nom</th>
                <th scope="col">addresse</th>
                 <th scope="col">gouvernaurat</th>
                <th scope="col">Téléphone</th>
                 <th scope="col">Date de création</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of pharmacies">
                <td>{{u.firstName}} {{u.lastName}} </td>
                <td>{{u.address}}</td>
                <td>{{u.gouvernaurat}}</td>
                <td>{{u.phone}}</td>
                <td>{{u.creationDate | date : 'dd/MM/yyyy'}}</td>
                <td>

                    <button type="button" class="btn btn text-danger" data-bs-toggle="modal" data-bs-target="#modal"><i
                            class="fas fa-trash"></i></button>
                </td>
                <!-- modal -->
                <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Comfirmer suppression ?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger"
                                    data-bs-dismiss="modal">Fermer</button>
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal"
                                    (click)="delete(u.id)">Supprimer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal end -->
            </tr>
        </tbody>
    </table>

</div>